@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Federo&family=Josefin+Sans:wght@400&family=Prosto+One&display=swap');

.body{
    margin: 0;   
}

h1{
   font-family: 'Abril Fatface';
   margin-top: 1px;
   margin-left: 15px;
}
.menu-btn {
    background-color: #065980e1;
    color: white;
    padding: 1px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    margin-top: -150px;
    cursor: pointer;
    margin-left: 1140px;
    width: 190px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border: none;
 }

 .menu-btn:hover{
    background-color: #0a597eea;
    color:  #000000;
   
 }

 .dropdown-menu {
    position: relative;
    display: inline-block;
 }
 
 .menu-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 190px;
    z-index: 1;
    margin-top: -10px;
    margin-left: 1140px;
 }
 .links {
    color: rgb(8, 8, 8);
    padding: 12px 16px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #b4d8e9c9;;
 }
 .links:hover {
    background-color: rgba(27, 160, 212, 0.404);
    color: black;
 }

 .submit{
    font-size: 19px;
 }

 #content{
   width: 370px;
   display: none;
   height: 310px;
   padding: 32px;
   margin-left: 440px;
   background-image: linear-gradient(to bottom right, rgba(52, 141, 201, 0.767), rgba(15, 80, 124, 0.76));
}

 #content2{
   width: 370px;
   display: none;
   height: 330px;
   padding: 32px;
   margin-left: 440px;
   background-image: linear-gradient(to bottom right, rgba(52, 141, 201, 0.767), rgba(15, 80, 124, 0.76));
}
 form{
   margin-top: 150px;
 }

 h2{
    text-align: center;
    margin-left: -30px;
    font-size: 35px;
    padding-top: 2px;
    padding-bottom: 8px;
    color:  #000000;
    width: 430px;
    height: 40px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
    text-underline-position: under;
    margin-top: -8px;
    font-weight: 100;
    font-family: 'Federo', sans-serif;
 }

 .input{
   width: 100%;
   padding: 10px 18px;
   margin: 5px 0;
   border: 3px solid rgb(222, 242, 255);
   background-color: rgb(222, 242, 255);
   font-size: 16px;
   color: rgb(0, 0, 0);
   display: block;
   font-family: 'Source Code Pro', monospace;
   box-sizing: border-box;
 }

 .input[type=text]:focus {
   background-color: lightblue;
   border: 3px solid #555;
 }

 .input:hover{
    background-color: lightblue;
    color: rgb(0, 0, 0);
 }

 label{
   font-family: 'Tenor Sans', sans-serif;
   color: whitesmoke;
   font-weight: 550;
 }
 

 .btn{
   background-color: #000913ad;
   width: 200%;
   color: white;
   padding: 11px 20px;
   padding-left: 150px;
   padding-right: 155px;
   font-family: 'Gotu', sans-serif;
   font-size: 20px;
   border: none;
   cursor: pointer;
   text-decoration: none;
 }

 .btn:hover{
   opacity: 0.8;
   color: rgb(0, 0, 0);
   background-color: rgb(231, 231, 231);
 }

 .search{
   margin-left: 531px;
   margin-top: -33px;
   height: 30px;
 }

.text{
   font-size: 16px;
   color: black;
   margin-left: 1120px;
   display: inline;
   margin-top: -33px;
}

.input-group-text{
   margin-left: 484px;
   margin-top: -30px;
   height: 30px;
}

h6{
   margin-left: 1100px;
}

 .sidebar{
   z-index: 1;
   top: 60px;
   background: linear-gradient(to bottom right, rgba(37, 114, 165, 0.877), rgba(8, 69, 110, 0.89));
   margin-top: 70px;
   font-size: 18px;
   padding-top: 20px;
   position: fixed;
   left: 0;
   width: 250px;
   height: 68%;
   transition: 0.5s;
   transition-property: left;
   overflow-y: 0px;
   border-radius: 0px 0px 60px 0px;
 }

 .sidebar a:focus{
   background: #ffffff;
   color: black;
   width: 100%;
 }
 
 .sidebar li{
   color: rgb(255, 255, 255);
   display: block;
   cursor: pointer;
   width: 100%;
   line-height: 60px;
   font-size: 19px;
   text-decoration: none;
   padding-left: 40px;
   box-sizing: border-box;
   transition: 0.2s; 
 }

 .sidebar li:hover{
   background: white;
   text-decoration: none;
   color: black;
 }
 
 .sidebar i{
   padding-right: 10px;
 }
 
 label #sidebar_btn{
   z-index: 1;
   color: rgb(255, 255, 255);
   background-color: rgb(177, 177, 177);
   padding: 6px;
   position: fixed;
   border-radius: 100px;
   cursor: pointer;
   left: 100px;
   font-size: 18px;
   margin: 5px 0;
   transition: 0.5s;
   transition-property: color;
 }
 
 label #sidebar_btn:hover{
   color: #000000;
 }
 
 #check:checked ~ .sidebar{
   left: -185px;
 }
 
 #check:checked ~ .sidebar li span{
   display: none;
 }
 
 #check:checked ~ .sidebar li{
   font-size: 20px;
   margin-left: 165px;
   width: 100%;
 }
 
 .content{
   width: (100% - 250px);
   margin-top: 30px;
   padding: 20px;
   margin-left: 250px;
   height: 80%;
   transition: 0.5s;
 }
 
 #check:checked ~ .content{
   margin-left: 60px;
 }
 
 #check:checked ~ .sidebar .profile_info{
   display: none;
 }
 
 #check{
   display: none;
 }
 
 .content .card p{
   background: #fff;
   padding: 15px;
   margin-bottom: 10px;
   font-size: 14px;
 }

 @media screen and (max-width: 780px){
   .sidebar{
     display: none;
   }
 
   #sidebar_btn{
     display: none;
   }
 
   .content{
     margin-left: 0;
     margin-top: 0;
     padding: 10px 20px;
     transition: 0s;
   }
 
   #check:checked ~ .content{
     margin-left: 0;
   }
 
   .nav_bar{
     background: #222;
     width: (100% - 0px);
     margin-left: 280px;
     padding: 10px 20px;
   }

   .active{
     display: block;
   }
 }
                  
 .tabs-left>li>a {
   border-radius: 4px 0 0 4px;
   margin-right: 0;
   display:block;
   text-decoration: none;
   color: white;
 }

 .tabs-left>li>a:hover {
   border-radius: 4px 0 0 4px;
   margin-right: 0;
   display:block;
   text-decoration: none;
   color: rgb(0, 0, 0);
   background-color: white;
 }

 .tab-content{
    margin-left: 280px;
    margin-top: -450px;
    width: 900px;
 }

 .discription{
   margin-top: 20px;
   margin-left: 10px;
 }

 .title{
  text-align: right;
  color: #000000;
  font-size: 14px;
  font-family:'Josefin Sans', sans-serif;
}

h1{
  text-align: center;
  color: #000000;
  font-size: 25px;
  padding-top: 20px;
  font-family: 'Dosis', sans-serif;
}


 .open{
   text-decoration: none;
   background: rgb(23, 190, 241);
   height: 160px;
   width: 180px;
   color: rgb(0, 0, 0);
   transition:0.4s 
 }

 .open:hover{
  text-decoration: none;
  color: black;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}
 

.inprogress{
  text-decoration: none;
  background: rgb(68, 206, 63);
  height: 160px;
  width: 180px;
  color: rgb(0, 0, 0);
  margin-left: 200px;
  transition:0.4s 
}

.inprogress:hover{
  text-decoration: none;
  color: black;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}

.default{
  text-decoration: none;
  background: rgb(151, 151, 151);
  height: 160px;
  width: 180px;
  color: rgb(0, 0, 0);
  margin-left: 180px;
  transition:0.4s 
}

.default:hover{
  text-decoration: none;
  color: black;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}


.priority{
  text-decoration: none;
  background: rgb(241, 137, 18);
  height: 160px;
  width: 180px;
  color: rgb(0, 0, 0);
  margin-left: 200px;
  margin-top: 50px;
  transition:0.4s 
}

.priority:hover{
  text-decoration: none;
  color: black;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}


.closed{
  text-decoration: none;
  background: rgb(228, 25, 25);
  height: 160px;
  width: 180px;
  color: rgb(0, 0, 0);
  margin-left: 180px;
  margin-top: 50px;
  transition:0.4s 
}

.closed:hover{
  text-decoration: none;
  color: black;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.178), 0 6px 20px 0 rgba(0, 0, 0, 0.253);
}

h4{
  text-align: center;
  padding: 10px;
}